set relativenumber
set number

" https://superuser.com/questions/622898/how-to-turn-off-the-bell-sound-in-intellij
" https://stackoverflow.com/questions/63386803/how-to-turn-off-a-bell-in-intellij-idea
set visualbell

" https://youtrack.jetbrains.com/issue/VIM-1970 
set highlightedyank

" https://youtrack.jetbrains.com/issue/VIM-959
set ideamarks


" https://github.com/JetBrains/ideavim/wiki/%60ideajoin%60-examples
set ideajoin

" https://youtrack.jetbrains.com/issue/VIM-1521
set commentary

" dia daa cia caa
set argtextobj
