set relativenumber
set number
set visualbell

set ideamarks
set ideajoin
set commentary
set argtextobj
set surround

let mapleader = " "

vnoremap < <gv
vnoremap > >gv

map <leader>ff <action>(GotoFile)
map <leader>fr <action>(RecentFiles)
map <leader>fc <action>(FindInPath)
map <leader><leader> <Action>(RecentFiles)
map <leader>fl <action>(RecentLocations)
map <leader>fs <action>(NewScratchFile)
