# Ignore bash history
bash/.bash_history

# Ignore lazy.nvim file tracking
nvim/.config/nvim/lazy-lock.json

# Ignore ssh keys
.ssh/**
!.ssh/config

# Ignore alacritty themes
alacritty/.config/alacritty/themes/
alacritty/.config/alacritty/themes/**

# Ignore GTK-3.0 themes
gtk-3.0/.themes/**
