[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:Lqnk4/nvim-config.git
	branch = master
  ignore = all
[submodule "dwmblocks"]
	path = dwmblocks
	url = git@github.com:Lqnk4/dwmblocks-config.git
	branch = master
  ignore = all
[submodule "dwm"]
	path = dwm
	url = git@github.com:Lqnk4/dwm-config.git
	branch = master
  ignore = all
