@define-color background #101010;
@define-color foreground #cccccc;
@define-color focused #DEEEED;
@define-color occupied #7A7A7A;
@define-color empty #444444;
@define-color urgent #f7768e;
@define-color bluetooth #2ac3de;
@define-color border #2A2A2A;

* {
  font-family: monospace;
  font-size: 12px;
  min-height: 0px;
}

window#waybar {
  color: @foreground;
  background: @background;
  border: 2px solid @border;
}

#tags,
#window,
#mode {
    padding: 0px 4px;
}

#tags button {
  padding: 0px;
  min-width: 16px;
  color: @empty;
  border-radius: 0px;
}

#tags button:hover {
  box-shadow: none;
  text-shadow: none;
  background: transparent;
}

#tags button.occupied {
  color: @occupied;
  font-weight: bold;
}

#tags button.focused {
  color: @focused;
}

#tags button.urgent {
  color: @urgent;
}

#window {
    color: @empty;
}

#mode {
    color: @focused;
}

#mode.normal {
    opacity: 0;
}

#pulseaudio,
#bluetooth,
#custom-keyboard-layout,
#battery,
#network,
#clock {
  padding: 0px 6px;
}
