* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 10pt;
    min-height: 0;
}

window#waybar {
    background: #1d1f21;
    color: white;
}

tooltip {
  background: #1d1f21;
  border: 1px solid #327bd1;
}

tooltip label {
  color: white;
}

#tags button {
    padding: 0 5px;
    background: #1d1f21;
}

#tags button.occupied {
    color: white;
}

#tags button.focused {
    background: #333333;
    border-bottom: 2px solid #327bd1;
    color: white;
}

#tags button.active {
    background: #333333;
    border-bottom: 2px solid #327bd1;
}

#battery {
    padding-right: 10px
}

#pulseaudio {
	padding-right: 10px
}

#network {
    padding-right: 10px
}

#clock {
	padding-right: 10px
}

#tray {
	padding-right: 10px
}

